/* Navbar */
.nav-center {
	display: flex;
	background-color: var(--nav-color);
	color: var(--nav-text-color);
	box-shadow: var(--light-shadow);
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
}
.nav-title {
	color: var(--main-color-text);
}
.range-input {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.nav-count {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}
.nav-delay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}
label {
	color: var(--main-color-text);
}
.count-input {
	cursor: pointer;
	height: 4px;
	width: 8rem;
}
.delay-input {
	cursor: pointer;
	height: 4px;
	width: 8rem;
}
select {
	padding: 0rem 0.5rem;
	color: var(--highlight-color);
	font-size: 1rem;
	background-color: transparent;
	cursor: pointer;
	letter-spacing: 0.05rem;
	border: none;
	transform: translateX(-0.8rem);
}
select:focus-visible {
	outline: none;
}
select option {
	background: var(--main-color-light);
}
.algo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}
.btn {
	background-color: transparent;
	color: var(--highlight-color);
	border: 1px solid var(--highlight-color);
	border-radius: var(--radius);
	cursor: pointer;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	padding: 0.9rem 1rem;
	margin-right: 1rem;
	transition: var(--transition);
}
.btn:hover {
	color: var(--hover-color);
	border-color: var(--hover-color);
}
/* Bar */
.bar-container {
	display: flex;
	justify-content: center;
	column-gap: 0.1rem;
}
.bar {
	width: 10px;
	/* background-color: var(--bar-main-color); */
}
