@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
	--transition: all 0.3s linear;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--nav-color: #262627;
	--nav-text-color: #fefffe;
	--main-color-light: #191919;
	--main-color-dark: #111;
	--main-color-text: rgba(255, 255, 255, 0.8);
	--highlight-color: #1171e8;
	--hover-color: #e39d25;
	--bar-main-color: #01d5fe;
	--bar-compare-color: #fec260;
	--bar-final-color: #32fec3;
	--max-width: 900px;
	--spacing: 0.1rem;
	--radius: 0.25rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-wrap: break-word;
}
body {
	font-family: "Lato", sans-serif;
	background: var(--main-color-light);
	line-height: 1.5;
}
